<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div class="products" th:fragment="products">



<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header"><h6 class="title">Category</h6></header>
                    <div class="filter-content">
                        <div class="list-group list-group-flush">
                            <a th:href="@{'/category/' + ${category.name}}" class="list-group-item" th:each="category :${categories}">[[${category.name}]]</a>
                        </div>  <!-- list-group .// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->

            <br>
            <br>

            <div class="well well-small alert alert-warning cntr">
                <h2>50% Discount</h2>
                <p>
                    only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
                </p>
            </div>

        </div>

        <div class='col-md-9'>
            <div style="margin-left: 20px; margin-top: -15px" class="py-2 text-left">
                <h1>Products </h1>

            </div>

            <div class="flex" style="margin-top: -5px">
                <section class="shadow-lg" th:each="product : ${products}">

                    <img style="width: 250px;" th:src="@{'../../static/images/product_' + ${product.id} + '.jpg'}" width='300'>

                    <a class="title" th:text="${product.name}" th:href="@{'/product/' + ${product.id}}"><h2
                            th:text="${product.name}"></h2></a>
                        <aside>
                            <ul>
                                <li>Price: $[[${product.price}]]</li>
                                <li>In Stock: [[${product.quantity}]]</li>
                            </ul>
                        </aside>

                        <form th:object="${product}"
                              th:action="@{/shoppingCart/addProduct/{productId}(productId=${product.id})}" method="post">
                            <a sec:authorize="isAuthenticated()" th:if="${product.quantity}>0">
                                <button class="button-cart" type="submit"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                            </a>
                        </form>

                </section>
            </div>

        </div>

    </div>
</div>


</div>

</body>
</html>