<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/header :: header-login-css"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/products.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/cart.css}"/>
    <script type="text/javascript" th:src="@{/static/js/products.js}"></script>
    <style>
        .ajax-loader {
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            z-index: +100 !important;
            width: 80%;
        }

        .ajax-loader img {
            margin-top: 125px;
            display: block;
            border-radius: 10px;
            width: 70%;

        }
    </style>
    <title>Checkout</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" style="margin-bottom: 50px">
    <div class="py-5 text-left">
        <h1>Shipping Information</h1>
    </div>

    <div class="row ajax-loader">
        <div class="col"></div>
        <div class="col">
            <img src="http://aristocrattechnology.com/img/b11.gif" class="img-responsive shadow-lg"/>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-md-7 order-md-1">
            <form id="checkoutForm" name="checkoutForm" class="needs-validation" th:action="@{/post_order}" th:object="${order}" method="post" role="form">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input id="address" type="text" th:field="*{address}" placeholder="e.g Camlitepe Mah."
                           class="form-control input-lg"/>


                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required>
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required>
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>

                <hr class="mb-4">
                <div class="complete">
                        <button onclick="formSubmitClick()" class="btn btn-primary btn-purchase">Proceed to payment</button>
                </div>
            </form>
        </div>
        <div class="col-md-5 order-md-1">

            <div class="summary">

                <div class="py-1 text-left">
                    <h2>Order Products</h2>
                </div>

                <ul class="list-group" th:each="product : ${products.entrySet()}">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        style="padding: .45rem 1.25rem; border: 1px solid #2125290a; margin-bottom: 5px">
                        <span class="title"><a th:text="${product.getValue() +' x '+ product.getKey().name}" th:href="@{'/product/' + ${product.getKey().id}}">Title</a></span>

                        <span class="badge badge-primary badge-pill"><span class="price">$[[${product.getKey().price}]]</span></span>
                    </li>
                </ul>

                <dl class="subtotal">
                    <dt>Subtotal</dt>
                    <dd>$[[${total}]]</dd>
                    <dt><a href="/taxes">Estimated Taxes & Fees</a></dt>
                    <dd>$0.00</dd>
                </dl>
                <dl class="total">
                    <dt>Total:</dt>
                    <dd>$[[${total}]]</dd>
                </dl>

            </div>
        </div>
    </div>
</div>

<script>

    function formSubmitClick()
    {
        show_loader();
        setTimeout('hide_loader()', 2500);

    }

    function show_loader() {
        $('.ajax-loader').css("visibility", "visible");
    }

    function hide_loader() {
        $('.ajax-loader').css("visibility", "hidden");
    }

    function sleep(seconds){
        var waitUntil = new Date().getTime() + seconds*1000;
        while(new Date().getTime() < waitUntil) true;
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');


            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<div th:replace="fragments/footer :: footer"></div>



</body>
</html>