<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/header :: header-login-css"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/products.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/cart.css}"/>
    <script type="text/javascript" th:src="@{/static/js/products.js}"></script>

    <title>Help </title>
    <style type="text/css">
#sorucevap{text-align:justify;}
#sorucevap .s{border-bottom:2px solid #000;
	font:bold 15px Arial; padding:20px; cursor:pointer; color:#fff;
	background-image: -ms-linear-gradient(top left, #a014a0 0%, #834683 100%);
	background-image: -moz-linear-gradient(top left, #a014a0 0%, #834683 100%);
	background-image: -o-linear-gradient(top left, #a014a0 0%, #834683 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #a014a0), color-stop(1, #834683));
	background-image: -webkit-linear-gradient(top left, #a014a0 0%, #834683 100%);
	background-image: linear-gradient(to bottom right, #a014a0 0%, #834683 100%);
}
#sorucevap .c{display:none; background:#eee; padding:10px; border:1px solid #aaa; border-top:none;}
</style>
    
</head>





<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1>Frequently Asked Questions</h1>
  	<hr>
	<div class="row">
      
<body>
	
<div id="sorucevap">
	<p>    </p>
	<h3>Shippment</h3>
	<p>    </p>
	<div class="s">What are supported shipping methods on Sepetle ? </div>
	<div class="c"> Currently suppliers can choose from the following express shipping options: UPS, FedEx, DHL, TNT, EMS, TOLL, e-EMS, ePacket, China Post Registered Air Mail, China Post Air Parcel, China Post Ordinary Small Packet Plus, HongKong Post Air Mail, HongKong Post Air Parcel, Singapore Post, Swiss Post, Sweden Post, Russian Air, Special Line-YW, DHL Global Mail and S.F. Express etc.
Since the shipping methods are set up by the suppliers, you are advised to directly contact the supplier for more shipping information. 
To contact the supplier, you may go to the product detail page or shop and click Contact Now to send a message. </div>
	<div class="s">What are supported shipping methods on Sepetle ? </div>
	<div class="c"> Currently suppliers can choose from the following express shipping options: UPS, FedEx, DHL, TNT, EMS, TOLL, e-EMS, ePacket, China Post Registered Air Mail, China Post Air Parcel, China Post Ordinary Small Packet Plus, HongKong Post Air Mail, HongKong Post Air Parcel, Singapore Post, Swiss Post, Sweden Post, Russian Air, Special Line-YW, DHL Global Mail and S.F. Express etc.
Since the shipping methods are set up by the suppliers, you are advised to directly contact the supplier for more shipping information. 
To contact the supplier, you may go to the product detail page or shop and click Contact Now to send a message. </div>

<div class="s">What are supported shipping methods on Sepetle ? </div>
	<div class="c"> Currently suppliers can choose from the following express shipping options: UPS, FedEx, DHL, TNT, EMS, TOLL, e-EMS, ePacket, China Post Registered Air Mail, China Post Air Parcel, China Post Ordinary Small Packet Plus, HongKong Post Air Mail, HongKong Post Air Parcel, Singapore Post, Swiss Post, Sweden Post, Russian Air, Special Line-YW, DHL Global Mail and S.F. Express etc.
Since the shipping methods are set up by the suppliers, you are advised to directly contact the supplier for more shipping information. 
To contact the supplier, you may go to the product detail page or shop and click Contact Now to send a message. </div>

<div class="s">What are supported shipping methods on Sepetle ? </div>
	<div class="c"> Currently suppliers can choose from the following express shipping options: UPS, FedEx, DHL, TNT, EMS, TOLL, e-EMS, ePacket, China Post Registered Air Mail, China Post Air Parcel, China Post Ordinary Small Packet Plus, HongKong Post Air Mail, HongKong Post Air Parcel, Singapore Post, Swiss Post, Sweden Post, Russian Air, Special Line-YW, DHL Global Mail and S.F. Express etc.
Since the shipping methods are set up by the suppliers, you are advised to directly contact the supplier for more shipping information. 
To contact the supplier, you may go to the product detail page or shop and click Contact Now to send a message. </div>

<div class="s">What are supported shipping methods on Sepetle ? </div>
	<div class="c"> Currently suppliers can choose from the following express shipping options: UPS, FedEx, DHL, TNT, EMS, TOLL, e-EMS, ePacket, China Post Registered Air Mail, China Post Air Parcel, China Post Ordinary Small Packet Plus, HongKong Post Air Mail, HongKong Post Air Parcel, Singapore Post, Swiss Post, Sweden Post, Russian Air, Special Line-YW, DHL Global Mail and S.F. Express etc.
Since the shipping methods are set up by the suppliers, you are advised to directly contact the supplier for more shipping information. 
To contact the supplier, you may go to the product detail page or shop and click Contact Now to send a message. </div>

<div class="s">What are supported shipping methods on Sepetle ? </div>
	<div class="c"> Currently suppliers can choose from the following express shipping options: UPS, FedEx, DHL, TNT, EMS, TOLL, e-EMS, ePacket, China Post Registered Air Mail, China Post Air Parcel, China Post Ordinary Small Packet Plus, HongKong Post Air Mail, HongKong Post Air Parcel, Singapore Post, Swiss Post, Sweden Post, Russian Air, Special Line-YW, DHL Global Mail and S.F. Express etc.
Since the shipping methods are set up by the suppliers, you are advised to directly contact the supplier for more shipping information. 
To contact the supplier, you may go to the product detail page or shop and click Contact Now to send a message. </div>
	
	
	<p>    </p>
	<h3>My Account</h3>
	<p>    </p>
	
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	
	<p>    </p>
	<h3>My Orders</h3>
	<p>    </p>
	
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	
	<p>    </p>
	<h3>Payments</h3>
	<p>    </p>
	
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	
	<p>    </p>
	<h3>Returns & Refunds</h3>
	<p>    </p>
	
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
	<div class="s">Soru</div><div class="c">Cevap</div>
</div>
	
<script type="text/javascript">
$('#sorucevap .s').click(function(){
	$(this).next().slideToggle(500).siblings('.c').slideUp(500);
});
</script>
     
          
          
      </div>
  </div>
</div>

<hr>

<footer>
    <div class="separator" th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>