<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/header :: header-login-css"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/products.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/cart.css}"/>
    <script type="text/javascript" th:src="@{/static/js/products.js}"></script>

    <title>Shopping Cart</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div style="margin-left: -25px; margin-top: 10px" class="py-5 text-left">
        <h1>Shopping Cart </h1>
    </div>

    <div class="row cart" style="margin-bottom: 40px">

        <div class="basket col-md-7">
            <div class="product_cart shadow-lg ux-card" th:each="product : ${products.entrySet()}">
                <div class="row">

                    <div class="col-md-2">
                        <img th:src="@{'../../static/images/product_' + ${product.getKey().id} + '.jpg'}" height="85" width='75'>
                    </div>
                    <div class="col-md-10">
                        <span class="title"><a th:text="${product.getKey().name}" th:href="@{'/product/' + ${product.getKey().id}}">Title</a></span>
                        <span class="price">$[[${product.getKey().price}]]</span>
                        <span class="tier">Quantity: [[${product.getValue()}]]</span>
                        <span class="attr"><p th:text="${product.getKey().description}">Description</p></span>

                        <div class="row">
                            <form th:object="${product}"
                                  th:action="@{/shoppingCart/addProduct/{productId}(productId=${product.getKey().id})}" method="post">
                                <a sec:authorize="isAuthenticated()" th:if="${product.getKey().quantity}>0">
                                    <button type="submit" class="btn btn-primary btn-xs add" th:text="ADD"></button>
                                </a>
                            </form>

                            <form th:object="${product}" th:action="@{/shoppingCart/removeProduct/{productId}(productId=${product.getKey().id})}" method="post">
                                <a sec:authorize="isAuthenticated()">
                                    <button type="submit" class="btn btn-danger btn-xs remove" th:text="REMOVE"></button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="summary col-md-5">
            <dl class="subtotal">
                <dt>Subtotal</dt>
                <dd>$[[${total}]]</dd>
                <dt><a href="/taxes">Estimated Taxes & Fees</a></dt>
                <dd>$0.00</dd>
            </dl>
            <dl class="total">
                <dt>Total:</dt>
                <dd>$[[${total}]]</dd>
            </dl>
            <dl class="support">
                <dt><a href="#">Have a promocode?</a></dt>
            </dl>
            <div class="payment">
                <a href="payment/add">Add</a>
                <h3 class="headline-primary">Payment</h3>
                <div class="ux-card">
                    <a href="/payment/{id}"><img src="https://img1.wsimg.com/fos/react/sprite.svg#visa" height="32"
                                                 width="50"/> Burak Emre Ozer</a>
                </div>
            </div>
            <div class="terms">
                <h3 class="headline-primary">Terms & Conditions</h3>
                <p class="review"><strong>Products automatically</strong> renew until cancelled, and are billed to your
                    payment method on file. Turn off auto-renew in your GoDaddy account.</p>
                <p class="agreed">I've read and agreed to the <a href="terms/show">Term & Conditions</a>.</p>
            </div>

            <div class="complete">
                <a th:href="@{/order_form}">
                    <button type="submit" class="btn btn-success btn-purchase">Checkout</button>
                </a>
            </div>
            <br>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>