<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/header :: header-login-css"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/view.css}"/>


    <title>View Product Details</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="home">
    <div class="home_container d-flex flex-column align-items-center justify-content-end">
        <div class="home_content text-center">
            <div class="home_title">Product Page</div>
            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li>[[${product.getCategory().getName()}]]</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="product_view">
    <div class="container">
        <div class="row">

            <!-- Product Image -->
            <div class="col-lg-6">
                <div class="product_image_slider_container">
                    <img th:src="@{'../../static/images/product_' + ${product.id} + '.jpg'}" width='500' alt="">
                </div>
            </div>

            <!-- Product Info -->
            <div class="col-lg-6 product_col">
                <div class="product_info">
                    <div class="product_name">[[${product.name}]]</div>
                    <div class="product_category">In <a href="#">Category</a></div>
                    <div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
                        <form th:object="${product}" th:action="@{/product/rate/{id}(id=${product.id})}" method="post">
                            <div class="form-group">
                                <div class="product_reviews_link"><a>Rate:</a></div>
                                <input sec:authorize="isAuthenticated()" th:field="${product.rate}" type="range" min="1" max="5" class="form-control" placeholder="(1-5)"/>
                            </div>

                            <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-success btn-md">
                                <i class="fa fa-star"></i>
                                Submit
                            </button>
                        </form>
                        <div class="product_reviews"><span th:text="${#numbers.formatInteger(product.rate, 0, 'COMMA')}"></span> out of ([[${product.review_count}]])</div>
                        <div class="product_reviews_link"><a href="#">Reviews</a></div>
                    </div>
                    <div class="product_price">$[[${product.price}]]<span>.00</span></div>
                    <div class="product_size">
                        <div class="product_size_title">Select Size</div>
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li>
                                <input type="radio" id="radio_1" disabled name="product_radio" class="regular_radio radio_1">
                                <label for="radio_1">XS</label>
                            </li>
                            <li>
                                <input type="radio" id="radio_2" name="product_radio" class="regular_radio radio_2" checked>
                                <label for="radio_2">S</label>
                            </li>
                            <li>
                                <input type="radio" id="radio_3" name="product_radio" class="regular_radio radio_3">
                                <label for="radio_3">M</label>
                            </li>
                            <li>
                                <input type="radio" id="radio_4" name="product_radio" class="regular_radio radio_4">
                                <label for="radio_4">L</label>
                            </li>
                            <li>
                                <input type="radio" id="radio_5" name="product_radio" class="regular_radio radio_5">
                                <label for="radio_5">XL</label>
                            </li>
                            <li>
                                <input type="radio" id="radio_6" disabled name="product_radio" class="regular_radio radio_6">
                                <label for="radio_6">XXL</label>
                            </li>
                        </ul>
                    </div>
                    <div class="product_text">
                        <p>[[${product.description}]]Maecenas elementum at diam consequat bibendum. Mauris iaculis fringilla ex, sit amet semper libero facilisis sit amet. Nunc ut aliquet metus. Praesent pulvinar justo sed velit tempus bibendum. Quisque dictum lorem id mi viverra, in auctor justo laoreet. Nam at massa malesuada, ullamcorper metus vel, consequat risus. Phasellus ultricies velit vel accumsan porta.</p>
                    </div>
                    <div class="product_buttons">
                        <div class="text-right d-flex flex-row align-items-start justify-content-start">
                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                <div><div><img src="../static/images/heart_2.svg" class="svg" alt=""><div>+</div></div></div>
                            </div>
                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">

                                <form th:object="${product}"
                                      th:action="@{/shoppingCart/addProduct/{productId}(productId=${product.id})}" method="post">
                                    <a sec:authorize="isAuthenticated()" th:if="${product.quantity}>0">
                                        <button class="btn btn-success" type="submit">Add to cart</button>
                                    </a>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boxes -->

<div class="boxes">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box d-flex flex-row align-items-center justify-content-start">
                    <div class="mt-auto"><div class="box_image"><img src="../static/images/boxes_1.png" alt=""></div></div>
                    <div class="box_content">
                        <div class="box_title">Size Guide</div>
                        <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 box_col">
                <div class="box d-flex flex-row align-items-center justify-content-start">
                    <div class="mt-auto"><div class="box_image"><img src="../static/images/boxes_2.png" alt=""></div></div>
                    <div class="box_content">
                        <div class="box_title">Shipping</div>
                        <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="fragments/footer :: footer"></div>

</body>
</html>